@namespace BlazorClient.Components

@inject NavigationManager Navigation

<Modal ShowModal="@ShowModal" ShowModalChanged="@((value) => ShowModal = value)">
    <Header>
        <div class="modal-header">
            <div class="modal-title">Confirm deletion</div>
        </div>
    </Header>
    <Body>
        <div class="modal-body">
            <div class="alert alert-danger">@Message</div>
        </div>
    </Body>
    <Footer>
        <div class="modal-footer">
            <button class="btn btn-secondary" @onclick="HandleClose">Cancel</button>
            <button class="btn btn-danger" @onclick="ConfirmModal">Delete</button>
        </div>
    </Footer>
</Modal>

@code {
    [Parameter] public bool ShowModal { get; set; }
    [Parameter] public EventCallback<bool> ShowModalChanged { get; set; }
    [Parameter] public string Message { get; set; }
    [Parameter] public EventCallback ConfirmModal { get; set; }
    [Parameter] public EventCallback HideModal { get; set; }

    private void HandleClose()
    {
        HideModal.InvokeAsync(null);
        ShowModalChanged.InvokeAsync(false);
    }
}
