@namespace BlazorClient.Components
@inject IGlobalStateContext GlobalStateContext
@inject ISessionUserContext SessionUserContext
@inject NavigationManager Navigation

@if (ShowModal)
{
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
                @Header
                @Body
                @Footer
        </div>
    </div>
}


@code {
    [Parameter] public bool ShowModal { get; set; }
    [Parameter] public EventCallback<bool> ShowModalChanged { get; set; }
    [Parameter] public RenderFragment Header { get; set; }
    [Parameter] public RenderFragment Body { get; set; }
    [Parameter] public RenderFragment Footer { get; set; }

    private void CloseModal()
    {
        ShowModal = false;
        ShowModalChanged.InvokeAsync(ShowModal);
    }
}


