/* Add this CSS for the rotating animation */
@keyframes rotate3d {
    0% {
        transform: rotateX(0) rotateY(0) rotateZ(0);
    }
    100% {
        transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
}


@keyframes rotate2d {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@keyframes scale {
    0% { transform: scaleX(0.05) scaleY(0.05); }
    10% { transform: scaleX(0.1) scaleY(0.1); }
    20% { transform: scaleX(0.15) scaleY(0.15); }
    30% { transform: scaleX(0.2) scaleY(0.2); }
    40% { transform: scaleX(0.25) scaleY(0.25); }
    50% { transform: scaleX(0.3) scaleY(0.3); }
    60% { transform: scaleX(0.35) scaleY(0.35); }
    70% { transform: scaleX(0.4) scaleY(0.4); }
    80% { transform: scaleX(0.45) scaleY(0.45); }
    90% { transform: scaleX(0.5) scaleY(0.5); }
    100% { transform: scaleX(0.55) scaleY(0.55); }
    /* Add more steps if needed */
}

/*.rotate {
    animation: rotate2d 3s linear;
}
*/
.scale {
    animation: scale 2s alternate;
}


.fade-in {
    animation: fadeIn 3s ease-in;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
